@import './colors.scss';
@import './mixins.scss';

#GamePage {
  .storeLinks {
    display: flex;
    justify-content: space-evenly;
    margin: 25px auto;
  }
  .gameNav {
    background-color: $darkBlue !important;
    border-top: 12px solid $pink;
    border-bottom: 12px solid $pink;
    margin: 25px auto !important;
    padding-bottom: 15px !important;
    .title {
      margin-bottom: 8px !important;
      border-top: none !important;
    }
    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .link {
        font-size: 22px;
        color: $white;
        letter-spacing: 0.5px;
        font-family: 'Abel', 'sans-serif';
        @include antialiasing;
      }
    }
  }
  .videoOuter {
    .gameCopy {
      color: $white;
      text-align: left;
      font-family: 'Abel', 'sans-serif';
      letter-spacing: 0.5px;
      padding: 12px;
      font-size: 24px;
      @include antialiasing();
    }
  }
  .gifs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      flex-basis: 25%;
    }
  }
  section:last-child {
    margin-bottom: 0 !important;
  }
}
